h1= title

div.firstplayer
	input(type='text', class='firstplayer', placeholder='hey it's your go..')
div.secondplayer
	input(type='text', class='secondplayer', placeholder='hey it's your go..')
	
div#game
	