h1= title
p Welcome to #{title}

div#player
	label(for='user', value='enter your twitter handle:')
	input(type='text', name='user', class='user')
	input(type='submit', class='user-submit')

div#game

script(src="/javascripts/main.js");

		