#header
    #pinky
        h1 Mallett's Mallet
        img(src= '/images/pinky-punky.png')

#container
    blockquote.oval-thought-border-right
        p Sausage
    blockquote.oval-thought-border-left 
        p Chips
    blockquote.oval-thought-border-right
        p Beans
    blockquote.oval-thought-border-left
        p Eggs

#footer
    form#play
        label ENTER YOUR WORD:
            input(name="word")

script(src="/javascripts/play.js");
