#header
    #pinky
        h1 Mallett's Mallet
        img(src= '/images/pinky-punky.png')

#container

#footer
    form#play
        label ENTER YOUR WORD:
            input(name="word")

script(src="/javascripts/play.js");
