#header
    #pinky
        h1 Mallett's Mallet
        img(src= '/images/pinky-punky.png')

div#player
    form#player-form
        label Twitter handle: 
            input(name='user')
        
#container

#footer
    form#play
        label ENTER YOUR WORD:
            input(name="word")

script(src="/javascripts/play.js");
