#header
    #pinky
        h1 Mallett's Mallet
        img(src= '/images/pinky-punky.png')

div(id='player')
    form#player-form
        label(for='user') 
            |Twitter handle: 
        input(type='text', name='user', class='user')
        
#container

#footer
    form#play
        label ENTER YOUR WORD:
            input(name="word")

script(src="/javascripts/play.js");
