#header
    #pinky
        h1 Mallets Mallet
        img(src= '/images/pinky-punky.png')

#container
    blockquote.oval-thought-border-right
        p Sausage
    blockquote.oval-thought-border-left 
        p Chips
    blockquote.oval-thought-border-right
        p Beans
    blockquote.oval-thought-border-left
        p Eggs

#footer
    label ENTER YOUR WORD:
        input name=word
